@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --navbar-padding: 10px;
  --navbar-height: 50px;
  --sidebar-padding: 30px;
  --sidebar-width: 200px;
  --content-padding: 30px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(0deg, #85b5D9, #CFE7F8);
}

#logo {
  width: 20vw;
  min-width: 200px;
  height: auto;
  margin-bottom: 0.5rem;
}

.icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.button {
  margin: 0.5em;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 2 * var(--navbar-padding));
  height: var(--navbar-height);
  padding: var(--navbar-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(0deg, #BAD9EF, #85b5D9);
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar .nav-items {
  display: flex;
  align-items: center;
}

.navbar .nav-items img {
  height: 30px;
  width: auto;
  margin-left: 10px;
}

.navbar .nav-items .logo {
  height: 60px;
  width: auto;
  margin-left: 10px;
}

.navbar .nav-items * {
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: calc(var(--navbar-height) + 2 * var(--navbar-padding));
  left: 0;
  width: var(--sidebar-width);
  height: calc(100% - (var(--navbar-height) + 2 * var(--navbar-padding) + 2 * var(--sidebar-padding)));
  padding: var(--sidebar-padding);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(0deg, #397BAD, #CFE7F8);
  box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.1);
}

.sidebar .side-items {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sidebar .side-items * {
  cursor: pointer;
}

.content {
  width: 100vw;
  height: 100vh;
}

.cards {
  position: relative;
  top: calc(var(--navbar-height) + 2 * var(--navbar-padding));
  left: calc(var(--sidebar-width) + 2 * var(--sidebar-padding));
  width: calc(100% - (var(--sidebar-width) + 2 * var(--sidebar-padding) + 2 * var(--content-padding)));
  height: calc(100% - (var(--navbar-height) + 2 * var(--navbar-padding) + 2 * var(--content-padding)));
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding: var(--content-padding);
  background-color: transparent;
}

.card {
  font-size: 14px;
  position: relative;
  background-color: #E7F4FC;
  padding: 10px;
  border-radius: 20px;
}

.card.full-row {
  grid-column: 1 / span 2;
}

.card h2 {
  padding: 3px 5px;
  width: fit-content;
  background-color: white;
  border-radius: 10px;
  font-size: 18px;
}

.expand-minimize {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 5px;
}