@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --navbar-padding: 10px;
  --navbar-height: 40px;
  --sidebar-padding: 30px;
  --sidebar-width: 120px;
  --content-padding: 20px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 0.7rem;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(0deg, #85b5D9, #CFE7F8);
}

#logo {
  width: 20vw;
  max-width: 50px;
  height: auto;
  margin-bottom: 0.5rem;
}

.icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.button {
  margin: 0.5em;
  padding: 10px;
  font-size: 0.9rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.primary-button {
  background-color: #85b5D9;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  color: aliceblue;
}

.primary-button:disabled {
  background-color: #808080; /* Dark grey color */
}

.primary-button:disabled:hover:disabled {
  background-color: #808080; /* Dark grey color */
  color: #ffffff; /* Text color */
}
.primary-button:hover {
  background-color: #397BAD;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 2 * var(--navbar-padding));
  height: var(--navbar-height);
  padding: var(--navbar-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(0deg, #BAD9EF, #85b5D9);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.navbar .nav-items {
  display: flex;
  align-items: center;
}

.navbar .nav-items img {
  height: 30px;
  width: auto;
  margin-left: 10px;
}

.navbar .nav-items .logo {
  height: 60px;
  width: auto;
  margin-left: 10px;
}

.navbar .nav-items * {
  cursor: pointer;
}

.nav-items *:hover {
  font-size: 0.9rem;
}

.sidebar {
  position: fixed;
  text-wrap: nowrap;
  overflow: hidden;
  top: calc(var(--navbar-height) + 2 * var(--navbar-padding));
  left: 0;
  width: 0;
  height: calc(100% - (var(--navbar-height) + 2 * var(--navbar-padding) + 2 * var(--sidebar-padding)));
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(0deg, #397BAD, #CFE7F8);
  box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.1);
  transition: width 0.4s ease-in-out;
  z-index: 99;
}

.sidebar-hidden {
  overflow: hidden;
  visibility: hidden;
}

.side-items-container {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.side-item {
  width: 100%;
  cursor: pointer;
  position: relative;
  transition: font-size 0.3s ease-in-out;
}

.side-item:hover {
  font-size: 0.9rem;
  background-color: #f0f0f0;
}

.side-item:hover::before {
  content: "";
  position: absolute;
  top: calc(-0.5 * var(--sidebar-padding));
  left: calc(-1 * var(--sidebar-padding));
  width: 150%;
  height: 250%;
  background-color: #f0f0f0;
  z-index: -1;
}

.content {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.cards {
  position: relative;
  top: calc(var(--navbar-height) + 2 * var(--navbar-padding));
  left: 0;
  width: calc(100% - (2 * var(--content-padding)));
  height: calc(100% - (var(--navbar-height) + 2 * var(--navbar-padding) + 2 * var(--content-padding)));
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-gap: 10px;
  padding: var(--content-padding);
  background-color: transparent;
  transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #397BAD #f1f1f1;
}

.card {
  grid-column: span 1;
  min-width: 200px;
  min-height: 240px;
  position: relative;
  background-color: #E7F4FC;
  padding: 5px;
  border-radius: 20px;
  overflow: hidden;
  transition: width 0.3s ease-in-out, height 0.3 ease-in-out;
}

.card-enlarge {
  width: 80vw;
}

.card.full-row {
  grid-column: span 2;
}

.card h1 {
  text-align: center;
  margin-bottom: 50px;
}

#profile-card {
  text-align: center;
  justify-content: center;
}

#profile-picture {
  text-align: center;
  width: 30%;
  max-width: 150px;
}

.card h2 {
  cursor: pointer;
  margin-bottom: 5px;
  padding: 3px 5px;
  width: fit-content;
  background-color: white;
  border-radius: 10px;
  font-size: 0.9rem;
}

.card p {
  margin-left: 10px;
  margin-bottom: 10px;
}

.container {
  overflow-y: scroll;
  height: 85%;
  scrollbar-width: thin;
  scrollbar-color: #397BAD #f1f1f1;
}

.container::-webkit-scrollbar {
  width: 8px;
}

.container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.container::-webkit-scrollbar-thumb {
  background-color: #397BAD;
}

.expand-minimize {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 5px;
}

.expand-minimize:hover {
  width:18px;
  height:18px;
}

.bar {
  position: relative;
  width: auto;
  background: linear-gradient(90deg, #DFF0FC, #D2E2EE);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10vw;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.1);
}

.device {
  position: relative;
  width: auto;
  background: linear-gradient(90deg, #DFF0FC, #D2E2EE);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 10px;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.1);
}

.device img {
  width: 80px;
}

#apps-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 0px 30px;
}

.app {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app img {
  width: 60px;
}

#add-app{
  cursor: pointer;
}

table {
  position: relative;
  width: calc(100%);
  border-collapse: separate;
  border-spacing: 0;
}

thead {
  position: sticky;
  top: 0;
}

th, td {
  text-align: left;
}

th {
  padding: 8px 20px;
  background-color: #B0C6D6;
}

td {
  padding: 2px 20px;
}

@media (max-width: 767px) {
  .nav-items p {
    display: none;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .card.full-row {
    grid-column: span 1;
  }
}