<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='page.css') }}"/>
  </head>
  <body>
    <div class="sidebar">
      <div class="side-items">
        <div class="menu-item">Account</div>
        <div class="menu-item">Log-in History</div>
        <div class="menu-item">Connected Devices</div>
        <div class="menu-item">Connected Apps</div>
      </div>
      <div class="side-items">
        <div class="menu-item">Settings</div>
        <div class="menu-item">Logout</div>
      </div>
    </div>
    <div class="navbar">
      <div class="nav-items">
        <img src="static/menu-icon.png" alt="Hamburger Icon" class="icon" />
        <img src="static/face_defense_master_logo.png" alt="Web Logo" class="logo" />
      </div>
      <div class="nav-items">
        <img id="logout-nav" src="static/logout-icon.png" alt="Logout Icon" class="icon" />
        <img src="static/profile-icon.png" alt="Profile Icon" class="icon" />
        <p>{{username}}</p>
      </div>
    </div>

    <div class="content">
      <div class="cards">

        <div class="card">
          <h2>Connected Devices</h2>
          <p>
            &emsp;Active Devices: ...
          </p>
          <p>
            &emsp;Total Connected Devices: ...
          </p>

          <div id="devices-container">
            <img src="static/pc-icon.png" alt="PC Icon" class="icon">
            <div class="device">
                <h3>PC</h3>
            </div>
          </div>

        </div>

        <div class="card">
          <h2>Connected Apps</h2>
          <div id="apps-container">
            <div class="apps">Jira</div>
            <div class="apps">Teams</div>

            <div class="apps">+add apps</div>
          </div>
        </div>
        <div class="card full-row">
          <h2>Log-in History</h2>
          Device      Date & Time     Location      Event
        </div>
      </div>
    </div>
    <script>
      const connectionsData = JSON.parse('{{ connections|safe }}');
      const devicesContainer = document.getElementById('devices-container');
      
      connectionsData.forEach(connection => {
        const device = document.createElement('div');
        device.className = 'device';
        
        deviceName = connection.device;

        if(deviceName === 'PC'){
          const deviceImage = document.createElement('img');
          deviceImage.src = 'static/pc-icon.png';
          device.appendChild(deviceImage);
        }
        else if(deviceName === 'Mobile'){
          const deviceImage = document.createElement('img');
          deviceImage.src = 'static/mobile-icon.png';
          device.appendChild(deviceImage);
        }
        else{
          const deviceImage = document.createElement('img');
          deviceImage.src = 'static/devices-icon.png';
          device.appendChild(deviceImage);
        }

        const deviceh3 = document.createElement('h3');
        deviceh3.textContent = deviceName;
        device.appendChild(deviceh3);

        devicesContaianer.appendChild(device);
      });
      var logoutMenu = document.getElementById('logout-menu');
      var logoutNav = document.getElementById('logout-nav');
      
      var connectedDevicesExpand = document.getElementById('connected-devices-expand');
      var connectedAppsExpand = document.getElementById('connected-apps-expand');
      var loginHistoryExpand = document.getElementById('login-history-expand');
    
      logoutMenu.addEventListener('click', function() {
        window.location.href = "{{ url_for('logout') }}";
      });
      logoutNav.addEventListener('click', function() {
        window.location.href = "{{ url_for('logout') }}";
      });

      connectedDevicesExpand.addEventListener('click', function(){

      });
    </script>
  </body>
</html>
