<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='page.css') }}"/>
  </head>
  <body>
    <div class="sidebar sidebar-hidden">
      <div class="side-items-container">
        <div id="account-sidebar" class="side-item">Account</div>
        <div id="login-history-sidebar" class="side-item">Log-in History</div>
        <div id="connected-devices-sidebar" class="side-item">Connected Devices</div>
        <div id="connected-apps-sidebar" class="side-item">Connected Apps</div>
      </div>
      <div class="side-items-container">
        <div class="side-item">Settings</div>
        <div id="logout-menu" class="side-item">Logout</div>
      </div>
    </div>
    <div class="navbar">
      <div class="nav-items">
        <img src="static/menu-icon.png" alt="Menu Icon" class="icon" id="toggle-sidebar" />
        <img src="static/face_defense_master_logo.png" alt="Web Logo" class="logo" id="fdm-logo" />
      </div>
      <div class="nav-items">
        <p id="account-nav-text">{{username}}</p>
        <img id="account-nav-img" src="static/profile-icon.png" alt="Profile Icon" class="icon" />
        <img id="logout-nav" src="static/logout-icon.png" alt="Logout Icon" class="icon" />
      </div>
    </div>

    <div class="content">
      <div class="cards">

        <div id="connected-devices" class="card">
          <h2 id="connected-devices-title">Connected Devices</h2>
          <p id="total-devices">
            Total Connected Devices: (Cannot fetch total devices)
          </p>

          <div id="devices-container" class="container">
          </div>

          <img id="connected-devices-expand" src="static/expand.png" alt="Expand" class="expand-minimize icon">
        </div>

        <div id="connected-apps" class="card">
          <h2 id="connected-apps-title">Connected Apps</h2>
          <div id="apps-container" class="container">
            <div class="app">
              <img src="static/Jira.png" alt="Jira">
              Jira
            </div>
            <div class="app">
              <img src="static/Teams.png" alt="Teams">
              Teams
            </div>

            <div id="add-app" class="app">
              <img src="static/add-icon.png" alt="Add Icon">
              + Add apps
            </div>
          </div>
          
          <img id="connected-apps-expand" src="static/expand.png" alt="Expand" class="expand-minimize icon">
        </div>
        <div id="login-history" class="card full-row">
          <h2 id="login-history-title">Log-in History</h2>
          <div id="table-container" class="container">
            <table>
              <thead>
                <tr>
                  <th>Device</th>
                  <th>Date & Time</th>
                  <th>Location</th>
                  <th>Status</th>
                  <th>Event</th>
                </tr>
              </thead>
              <tbody id="history-table-body">
                <!-- History table body will be dynamically populated -->
              </tbody>
            </table>
          </div>

          <img id="login-history-expand" src="static/expand.png" alt="Expand" class="expand-minimize icon">
        </div>
      </div>
    </div>
    <script>
      const connectionsData = JSON.parse('{{ connections|safe }}');
      const historiesData = JSON.parse('{{ histories|safe }}');
      historiesData.sort((a, b) => new Date(b.time) - new Date(a.time));
      
      const accountNavImg = document.getElementById('account-nav-img');
      const accountNavText = document.getElementById('account-nav-text');
      const fdmLogo = document.getElementById('fdm-logo');
      const logoutMenu = document.getElementById('logout-menu');
      const logoutNav = document.getElementById('logout-nav');
      const toggleSidebarElement = document.getElementById('toggle-sidebar');

      const totalDevicesElement = document.getElementById('total-devices');
      const devicesContainer = document.getElementById('devices-container');
      const historyTableBody = document.getElementById('history-table-body');
      
      const connectedDevicesExpand = document.getElementById('connected-devices-expand');
      const connectedAppsExpand = document.getElementById('connected-apps-expand');
      const loginHistoryExpand = document.getElementById('login-history-expand');

      const connectedDevicesTitle = document.getElementById('connected-devices-title');
      const connectedAppsTitle = document.getElementById('connected-apps-title');
      const loginHistoryTitle = document.getElementById('login-history-title');
      
      const accountSidebar = document.getElementById('account-sidebar');
      const connectedDevicesSidebar =document.getElementById('connected-devices-sidebar');
      const connectedAppsSidebar =document.getElementById('connected-apps-sidebar');
      const loginHistorySidebar =document.getElementById('login-history-sidebar');

      totalDevicesElement.textContent = `Total Connected Devices: ${connectionsData.length.toString()}`;

      connectionsData.forEach(connection => {
        const deviceName = connection.device;
        const deviceElement = document.createElement('div');
        deviceElement.className = 'device';

        const imageElement = document.createElement('img');
        if(deviceName == 'PC'){
          imageElement.src = 'static/pc-icon.png';
          imageElement.alt = 'PC Icon';
        }
        else if (deviceName == 'iPhone'){
          imageElement.src = 'static/mobile-icon.png';
          imageElement.alt = 'Mobile Icon';
        }
        deviceElement.appendChild(imageElement);
        
        const nameElement = document.createElement('h3');
        nameElement.textContent = deviceName;
        deviceElement.appendChild(nameElement);
        
        devicesContainer.appendChild(deviceElement);
      });

      historiesData.forEach(history => {
        const device = history.device;
        const dateTime = history.time;
        const location = history.location;
        const event = history.event_desc;
        const status = event.startsWith("Login Failed")
          ? '<img src="static/cross-icon.png" alt="Cross Icon" class="icon">'
          : '<img src="static/tick-icon.png" alt="Tick Icon" class="icon">';

        const row = document.createElement('tr');
        const deviceCell = document.createElement('td');
        deviceCell.textContent = device;
        row.appendChild(deviceCell);

        const dateTimeCell = document.createElement('td');
        dateTimeCell.textContent = dateTime;
        row.appendChild(dateTimeCell);

        const locationCell = document.createElement('td');
        locationCell.textContent = location;
        row.appendChild(locationCell);

        const statusCell = document.createElement('td');
        statusCell.innerHTML = status;
        row.appendChild(statusCell);

        const eventCell = document.createElement('td');
        eventCell.textContent = event;
        if (event.startsWith("Login Failed")) {
          eventCell.style.color = "red";
        }
        row.appendChild(eventCell);

        historyTableBody.appendChild(row);
      });

      accountNavImg.addEventListener('click', function(){
        window.location.href = "{{ url_for('profile') }}";
      });
      accountNavText.addEventListener('click', function(){
        window.location.href = "{{ url_for('profile') }}";
      });
      accountSidebar.addEventListener('click', function(){
        window.location.href = "{{ url_for('profile') }}";
      });
      
      fdmLogo.addEventListener('click', function() {
        window.location.href = "{{ url_for ('home') }}";
      });
    
      logoutMenu.addEventListener('click', function() {
        window.location.href = "{{ url_for('logout') }}";
      });
      logoutNav.addEventListener('click', function() {
        window.location.href = "{{ url_for('logout') }}";
      });
      
      toggleSidebarElement.addEventListener('click', function() {
        toggleSidebar();
      });

      connectedDevicesExpand.addEventListener('click', function() {
        expandFunction('connected-devices');
      });
      connectedDevicesTitle.addEventListener('click', function() {
        expandFunction('connected-devices');
      })
      connectedDevicesSidebar.addEventListener('click', function() {
        expandFunction('connected-devices');
      });

      connectedAppsExpand.addEventListener('click', function() {
        expandFunction('connected-apps');
      });
      connectedAppsTitle.addEventListener('click', function() {
        expandFunction('connected-apps');
      });
      connectedAppsSidebar.addEventListener('click', function() {
        expandFunction('connected-apps');
      });

      loginHistoryExpand.addEventListener('click', function() {
        expandFunction('login-history');
      });
      loginHistoryTitle.addEventListener('click', function() {
        expandFunction('login-history');
      });
      loginHistorySidebar.addEventListener('click', function() {
        expandFunction('login-history');
      });

      function toggleSidebar(){
        var sidebarWidth = getComputedStyle(document.documentElement).getPropertyValue('--sidebar-width');
        var sidebarPadding = getComputedStyle(document.documentElement).getPropertyValue('--sidebar-padding');
        var contentPadding = getComputedStyle(document.documentElement).getPropertyValue('--content-padding');
        var sidebar = document.querySelector('.sidebar');
        sidebar.classList.toggle('sidebar-hidden');
        if (sidebar.classList.contains('sidebar-hidden')) {
          sidebar.style.setProperty('width', '0');
          sidebar.style.setProperty('padding', '0');
        } else {
          sidebar.style.setProperty('width', `${sidebarWidth}`);
          sidebar.style.setProperty('padding', `${sidebarPadding}`);
        }
      }

      function expandFunction(id){
        const otherComponents = document.querySelectorAll('.card:not(#' + id + ')');
        const otherExpandComponents = document.querySelectorAll('.card:not(#' + id + '-expand)');
        otherComponents.forEach(component => {
          component.classList.remove('class-enlarge');
          component.style.setProperty('position', 'relative');
          component.style.setProperty('z-index', '1');
          component.style.setProperty('width', 'auto');
          component.style.setProperty('height', 'auto');
        });
        otherExpandComponents.forEach(expandComponent => {
          expandComponent.src='static/expand.png'
        });
        const component = document.getElementById(id)
        const expandComponent = document.getElementById(`${id}-expand`);
        component.classList.toggle('class-enlarge');
        if (component.classList.contains('class-enlarge')) {
          component.style.setProperty('position', 'absolute');
          component.style.setProperty('z-index', '10');
          component.style.setProperty('width', '96%');
          component.style.setProperty('height', '96%');
          expandComponent.src = 'static/minimize.png';
        } else {
          component.style.setProperty('position', 'relative');
          component.style.setProperty('z-index', '1');
          component.style.setProperty('width', 'auto');
          component.style.setProperty('height', 'auto');
          expandComponent.src = 'static/expand.png';
        }
      }
    </script>
  </body>
</html>
