<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <img id="main-logo" src="static/face_defense_master_logo.png" alt="logo"/>
    <div class="container">
        <form id="login-form" method="post" onsubmit="return validateForm()">
            <input type="text" id="username" name="username" placeholder="Username" required>
            <div style="position: relative;">
                <input type="password" id="password" name="password" placeholder="Password" required>
                <span id="toggle-password" class="password-toggle-icon" onclick="togglePasswordVisibility()">
                    <img src="static/eye_icon.png" alt="Show Password" class="icon">
                </span>
            </div>
            <input type="submit" value="Login">
            <div id="message" class="message"></div>
            <p>Don't have an account? <a href="{{ url_for('setup') }}" class="link-button">Register</a></p>
            <p><a href="{{ url_for('recoveryFaceID') }}" class="link-button">Forgot password?</a></p>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="message">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById("password");
            var toggleIcon = document.getElementById("toggle-password");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                toggleIcon.innerHTML = '<img src="static/eye_icon_hide.png" alt="Hide Password" class="icon">';
            } else {
                passwordInput.type = "password";
                toggleIcon.innerHTML = '<img src="static/eye_icon.png" alt="Show Password" class="icon">';
            }
        }
    </script>
</body>
</html>