<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enter Verification Code</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'style.css') }}"
    />
</head>
<body>
    <img id="logo" src="static/face_defense_master_logo.png" alt="logo" />
    <div class="container">
        <h1>Enter Verification Code</h1>

        {% if recovery %}
            {% set email_parts = email.split('@') %}
            <p>User recognized for: {{ email_parts[0][:2] }}***{{ email_parts[0][-2:] }}@{{ email_parts[1] }}</p>
        {% else %}
        {% endif %}

        <form id="verification-form">
            <input type="hidden" name="email" value="{{ email }}">
            <input type="hidden" name="recovery" value="{{ recovery }}">
            <label for="verification_code">Verification Code:</label>
            <input type="text" id="verification_code" name="verification_code" maxlength="6" required>
            <input type="submit" value="Verify">
        </form>
        <p id="resend-text">Can not receive? Click <a href="#" id="resend-link">here</a> to resend</p>
        <div class="error-message" id="message"></div>
    </div>
    <div id="success-modal" class="modal">
        <div class="modal-content">
            <h2>Activation Successful!</h2>
            <p>Welcome to Face Defense Master!</p>
            <p>Your account is activated and you will be redirected to the login page in:</p>
            <p><span id="countdown">10</span> seconds</p>
            <button id="login-btn">Login</button>
        </div>
    </div>
    </div>
    
    <script>

        function showSuccessModal() {
            const modal = document.getElementById('success-modal');
            modal.style.display = 'block';

            const loginBtn = document.getElementById('login-btn');
            loginBtn.addEventListener('click', function() {
                window.location.href = "/login";
            });

            let countdown = 10;
            const countdownElement = document.getElementById('countdown');
            const countdownTimer = setInterval(function() {
                countdown--;
                countdownElement.textContent = countdown;

                if (countdown <= 0) {
                    clearInterval(countdownTimer);
                    window.location.href = "/login";
                }
            }, 1000);
        }

        document.getElementById('verification-form').addEventListener('submit', async function(event) {
            event.preventDefault();

            console.log("{{ email }}");
            
            const email = document.getElementsByName('email')[0].value;
            const verificationCode = document.getElementById('verification_code').value;
            const recovery = document.getElementsByName('recovery')[0].value;

            console.log("--------------------------------------------------------------Email:", email);
            
            const response = await fetch("/verification", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email: email, verification_code: verificationCode, recovery: recovery}),
            });
            console.log(recovery);
            const data = await response.json();
            if (data.success == 'true' && data.recovery == 'false' ) {
                showSuccessModal();
            } else if(data.success == 'true' && data.recovery == 'true') {
                var urlParams = new URLSearchParams(window.location.search);
                var user_email = urlParams.get('email');

                // Redirect to the reset page with the email parameter
                var resetURL = '/reset?email=' + user_email;
                window.location.href = resetURL;
            } else {document.getElementById('message').textContent = data.message}
        })

        document.getElementById('resend-link').addEventListener('click', async function(event) {
            event.preventDefault();
            startCountdown();
            const email = document.getElementsByName('email')[0].value;

            const response = await fetch("/resend_verification", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email: email }),
            });
        });

        function startCountdown() {
            const resendText = document.getElementById('resend-text');
            resendText.innerHTML = 'Resend in <span id="resend_countdown">60</span> seconds';

            let resend_countdown = 60;
            const resend_countdownTimer = setInterval(function() {
                resend_countdown--;
                document.getElementById('resend_countdown').textContent = resend_countdown;

                if (resend_countdown <= 0) {
                    clearInterval(resend_countdownTimer);
                    resendText.innerHTML = 'Can not receive? Click <a href="#" id="resend-link">here</a> to resend';
                    document.getElementById('resend-link').addEventListener('click', async function(event) {
                        event.preventDefault();
                        startCountdown();
                        const email = document.getElementsByName('email')[0].value;

                        const response = await fetch("/resend_verification", {
                            method: "POST",
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ email: email }),
                        });

                        
                    });
                }
            }, 1000);
        }

    </script>
</body>
</html>